In [61]:
import pandas as pd
data_1=pd.read_csv(r"reviews.csv")
print(data_1)

     label                                             review
0       cg                        This product is acceptable.
1       cg                      The item performs adequately.
2       cg                     Functionality is satisfactory.
3       cg                      Overall experience: positive.
4       cg                        Meets minimum requirements.
...    ...                                                ...
1946    or  Someone gifted me this and honestly, I'm hooke...
1947    or  Searched everywhere for something like this! F...
1948    or  This little gadget made a huge difference in m...
1949    or  Had such high hopes for this, but it just didn...
1950    or  Based on my experience, I wouldn't recommend t...

[1951 rows x 2 columns]

In [62]:
data_2=pd.read_csv(r"reviews_2.csv")
print(data_2)

                           category  rating label  \
0                Home_and_Kitchen_5     5.0    CG
1                Home_and_Kitchen_5     5.0    CG
2                Home_and_Kitchen_5     5.0    CG
3                Home_and_Kitchen_5     1.0    CG
4                Home_and_Kitchen_5     5.0    CG
...                             ...     ...   ...
40427  Clothing_Shoes_and_Jewelry_5     4.0    OR
40428  Clothing_Shoes_and_Jewelry_5     5.0    CG
40429  Clothing_Shoes_and_Jewelry_5     2.0    OR
40430  Clothing_Shoes_and_Jewelry_5     1.0    CG
40431  Clothing_Shoes_and_Jewelry_5     5.0    OR

                                                   text_
0      Love this!  Well made, sturdy, and very comfor...
1      love it, a great upgrade from the original.  I...
2      This pillow saved my back. I love the look and...
3      Missing information on how to use it, but it i...
4      Very nice set. Good quality. We have had the s...
...                                                  ...
40427  I had read some reviews saying that this bra r...
40428  I wasn't sure exactly what it would be. It is ...
40429  You can wear the hood by itself, wear it with ...
40430  I liked nothing about this dress. The only rea...
40431  I work in the wedding industry and have to wor...

[40432 rows x 4 columns]

In [63]:
print(data_1.columns)
print(data_2.columns)

Index(['label', 'review'], dtype='object')
Index(['category', 'rating', 'label', 'text_'], dtype='object')

In [64]:
data_2=data_2.drop(columns=['category', 'rating'])

In [65]:
data_2

      label                                              text_
0        CG  Love this!  Well made, sturdy, and very comfor...
1        CG  love it, a great upgrade from the original.  I...
2        CG  This pillow saved my back. I love the look and...
3        CG  Missing information on how to use it, but it i...
4        CG  Very nice set. Good quality. We have had the s...
...     ...                                                ...
40427    OR  I had read some reviews saying that this bra r...
40428    CG  I wasn't sure exactly what it would be. It is ...
40429    OR  You can wear the hood by itself, wear it with ...
40430    CG  I liked nothing about this dress. The only rea...
40431    OR  I work in the wedding industry and have to wor...

[40432 rows x 2 columns]

In [66]:
data_2.rename(columns={"text_": "review"}, inplace=True)

In [67]:
data_2

      label                                             review
0        CG  Love this!  Well made, sturdy, and very comfor...
1        CG  love it, a great upgrade from the original.  I...
2        CG  This pillow saved my back. I love the look and...
3        CG  Missing information on how to use it, but it i...
4        CG  Very nice set. Good quality. We have had the s...
...     ...                                                ...
40427    OR  I had read some reviews saying that this bra r...
40428    CG  I wasn't sure exactly what it would be. It is ...
40429    OR  You can wear the hood by itself, wear it with ...
40430    CG  I liked nothing about this dress. The only rea...
40431    OR  I work in the wedding industry and have to wor...

[40432 rows x 2 columns]

In [68]:
data= pd.concat([data_2, data_1], ignore_index=True)

In [69]:
data

      label                                             review
0        CG  Love this!  Well made, sturdy, and very comfor...
1        CG  love it, a great upgrade from the original.  I...
2        CG  This pillow saved my back. I love the look and...
3        CG  Missing information on how to use it, but it i...
4        CG  Very nice set. Good quality. We have had the s...
...     ...                                                ...
42378    or  Someone gifted me this and honestly, I'm hooke...
42379    or  Searched everywhere for something like this! F...
42380    or  This little gadget made a huge difference in m...
42381    or  Had such high hopes for this, but it just didn...
42382    or  Based on my experience, I wouldn't recommend t...

[42383 rows x 2 columns]

In [70]:
data.head()

  label                                             review
0    CG  Love this!  Well made, sturdy, and very comfor...
1    CG  love it, a great upgrade from the original.  I...
2    CG  This pillow saved my back. I love the look and...
3    CG  Missing information on how to use it, but it i...
4    CG  Very nice set. Good quality. We have had the s...

In [71]:
data.tail()

      label                                             review
42378    or  Someone gifted me this and honestly, I'm hooke...
42379    or  Searched everywhere for something like this! F...
42380    or  This little gadget made a huge difference in m...
42381    or  Had such high hopes for this, but it just didn...
42382    or  Based on my experience, I wouldn't recommend t...

In [72]:
data.shape

(42383, 2)

In [73]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42383 entries, 0 to 42382
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   42383 non-null  object
 1   review  42383 non-null  object
dtypes: object(2)
memory usage: 662.4+ KB

In [74]:
data.duplicated().sum()

np.int64(93)

In [75]:
data = data.drop_duplicates(subset=['review'])

In [76]:
data.duplicated().sum()

np.int64(0)

In [77]:
data.isnull().sum()

label     0
review    0
dtype: int64

In [78]:
data['label'].value_counts()

label
OR    20215
CG    20197
or      994
cg      884
Name: count, dtype: int64

In [79]:
data['label']=data['label'].str.upper()

C:\Users\vodla\AppData\Local\Temp\ipykernel_17724\3967843674.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['label']=data['label'].str.upper()

In [80]:
data['label'].value_counts()

label
OR    21209
CG    21081
Name: count, dtype: int64

In [81]:
from sklearn.preprocessing import LabelEncoder
el=LabelEncoder()
data['label']=el.fit_transform(data['label'])
# Convert categorical labels ('or', 'cg') into numeric format (e.g., 'cg'→0, 'or'→1)
# Required for training classification models with scikit-learn

C:\Users\vodla\AppData\Local\Temp\ipykernel_17724\2417735117.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['label']=el.fit_transform(data['label'])

In [82]:
data['label'].value_counts()

label
1    21209
0    21081
Name: count, dtype: int64

In [83]:
# Text preprocessing function to clean raw text data:
import re
import string
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

stop_words = set(stopwords.words('english'))
stemmer = PorterStemmer()
def clean_text(text):
    # - Converts text to lowercase
    text = text.lower()  
    # - Removes URLs
    text = re.sub(r'http\S+|www.\S+', '', text)
    # - Removes punctuation and digits
    text = text.translate(str.maketrans('', '', string.punctuation))
    # Remove digits
    text = re.sub(r'\d+', '', text)
    # - Strips leading/trailing spaces
    text = text.strip()
    # - Tokenizes and removes stopwords
    words = text.split()
    # - Applies stemming using PorterStemmer
    cleaned_words = [stemmer.stem(word) for word in words if word not in stop_words]

    return ' '.join(cleaned_words)
#Apply the text cleaning function to all reviews in the dataset
data['review']=data['review'].apply(clean_text)

C:\Users\vodla\AppData\Local\Temp\ipykernel_17724\3930316690.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['review']=data['review'].apply(clean_text)

In [84]:
data

       label                                            review
0          0  love well made sturdi comfort love itveri pretti
1          0      love great upgrad origin ive mine coupl year
2          0            pillow save back love look feel pillow
3          0               miss inform use great product price
4          0               nice set good qualiti set two month
...      ...                                               ...
42378      1                      someon gift honestli im hook
42379      1   search everywher someth like fit need perfectli
42380      1  littl gadget made huge differ daili routin thank
42381      1                              high hope didnt work
42382      1      base experi wouldnt recommend product friend

[42290 rows x 2 columns]

In [85]:
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np 
# Convert text reviews into TF-IDF feature vectors using the top 15000 most frequent words
vectorizer = TfidfVectorizer(max_features=15000)
# Transform the cleaned 'review' text into a dense NumPy array
X = vectorizer.fit_transform(data['review']).toarray()
# Target labels (already label-encoded earlier)
y = data['label']

In [86]:
from sklearn.model_selection import train_test_split
# Split the dataset into training and testing sets (80% train, 20% test)
# Setting random_state ensures the split is reproducible
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [87]:
# Import various machine learning classifiers to compare performance:
# - Naive Bayes, Logistic Regression, SVM, Random Forest, KNN, Extra Trees, HistGradientBoosting
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.metrics import classification_report, accuracy_score

In [ ]:
# Train a Multinomial Naive Bayes classifier
model1=MultinomialNB()
model1.fit(X_train,y_train)
y_pred1=model1.predict(X_test)
acc1=accuracy_score(y_test,y_pred1)
print(f" Naive Bayes Accuracy : {acc1}")
print("Classification Report:")
print(classification_report(y_test,y_pred1))

 Naive Bayes Accuracy : 0.8483092929770631
Classification Report:
              precision    recall  f1-score   support

           0       0.84      0.87      0.85      4274
           1       0.86      0.82      0.84      4184

    accuracy                           0.85      8458
   macro avg       0.85      0.85      0.85      8458
weighted avg       0.85      0.85      0.85      8458

In [89]:
# Train a Logistic Regression classifier
model2= LogisticRegression()
model2.fit(X_train,y_train)
# Predict on test data
y_pred2=model2.predict(X_test)
# Evaluate performance
acc2=accuracy_score(y_test,y_pred2)
print(f" Logistic Regression Accuracy : {acc2}")
print("Classification Report:")
print(classification_report(y_test,y_pred2))

 Logistic Regression Accuracy : 0.8666351383305746
Classification Report:
              precision    recall  f1-score   support

           0       0.88      0.85      0.87      4274
           1       0.85      0.88      0.87      4184

    accuracy                           0.87      8458
   macro avg       0.87      0.87      0.87      8458
weighted avg       0.87      0.87      0.87      8458

In [90]:
# Train a Linear SVM model
model3=LinearSVC()
model3.fit(X_train,y_train)
# Predict on test data
y_pred3=model3.predict(X_test)
# Evaluate performance
acc3=accuracy_score(y_test,y_pred3)
print(f" SVM Accuracy : {acc3}")
print("Classification Report:")
print(classification_report(y_test,y_pred3))

 SVM Accuracy : 0.8759754078978482
Classification Report:
              precision    recall  f1-score   support

           0       0.88      0.88      0.88      4274
           1       0.88      0.87      0.87      4184

    accuracy                           0.88      8458
   macro avg       0.88      0.88      0.88      8458
weighted avg       0.88      0.88      0.88      8458

In [91]:
# Train a Random Forest model
model4=RandomForestClassifier()
model4.fit(X_train,y_train)
# Predict on test data
y_pred4=model4.predict(X_test)
# Evaluate performance
acc4=accuracy_score(y_test,y_pred4)
print(f" Random Forest Accuracy : {acc4}")
print("Classification Report:")
print(classification_report(y_test,y_pred4))

 Random Forest Accuracy : 0.8496098368408608
Classification Report:
              precision    recall  f1-score   support

           0       0.84      0.87      0.85      4274
           1       0.86      0.83      0.84      4184

    accuracy                           0.85      8458
   macro avg       0.85      0.85      0.85      8458
weighted avg       0.85      0.85      0.85      8458

In [92]:
# Train a  KNN model
model5=KNeighborsClassifier()
model5.fit(X_train,y_train)
# Predict on test data
y_pred5=model5.predict(X_test)
# Evaluate performance
acc5=accuracy_score(y_test,y_pred5)
print(f" KNN Accuracy : {acc5}")
print("Classification Report:")
print(classification_report(y_test,y_pred5))

 KNN Accuracy : 0.6162213289193663
Classification Report:
              precision    recall  f1-score   support

           0       0.57      0.96      0.72      4274
           1       0.87      0.26      0.40      4184

    accuracy                           0.62      8458
   macro avg       0.72      0.61      0.56      8458
weighted avg       0.72      0.62      0.56      8458

In [93]:
# Train a Extra Trees Classifier 
model6 = ExtraTreesClassifier()
model6.fit(X_train, y_train)
# Predict on test data
y_pred6 = model6.predict(X_test)
# Evaluate performance
acc6 = accuracy_score(y_test, y_pred6)
print(f"Extra Trees Accuracy: {acc6}")
print("Classification Report:")
print(classification_report(y_test, y_pred6))

Extra Trees Accuracy: 0.8687633010167889
Classification Report:
              precision    recall  f1-score   support

           0       0.85      0.89      0.87      4274
           1       0.89      0.84      0.86      4184

    accuracy                           0.87      8458
   macro avg       0.87      0.87      0.87      8458
weighted avg       0.87      0.87      0.87      8458

In [94]:
# Train a Histogram Gradient Boosting Classifier model
model7 = HistGradientBoostingClassifier()
model7.fit(X_train, y_train)
# Predict on test data
y_pred7 = model7.predict(X_test)
# Evaluate performance
acc7 = accuracy_score(y_test, y_pred7)
print(f"HistGradientBoosting Accuracy: {acc7}")
print("Classification Report:")
print(classification_report(y_test, y_pred7))

HistGradientBoosting Accuracy: 0.8395601797115158
Classification Report:
              precision    recall  f1-score   support

           0       0.85      0.83      0.84      4274
           1       0.83      0.85      0.84      4184

    accuracy                           0.84      8458
   macro avg       0.84      0.84      0.84      8458
weighted avg       0.84      0.84      0.84      8458

In [95]:
import pandas as pd
from sklearn.metrics import precision_score, recall_score, f1_score

results = {
    'Model': ['Naive Bayes', 'Logistic Regression', 'SVM (LinearSVC)', 'Random Forest', 'KNN', 'Extra Trees','HistGradientBoosting'],
    'Accuracy': [acc1, acc2, acc3, acc4, acc5, acc6,acc7],
    'Precision': [
        precision_score(y_test, y_pred1),
        precision_score(y_test, y_pred2),
        precision_score(y_test, y_pred3),
        precision_score(y_test, y_pred4),
        precision_score(y_test, y_pred5),
        precision_score(y_test, y_pred6),
        precision_score(y_test, y_pred7)
    ],
    'Recall': [
        recall_score(y_test, y_pred1),
        recall_score(y_test, y_pred2),
        recall_score(y_test, y_pred3),
        recall_score(y_test, y_pred4),
        recall_score(y_test, y_pred5),
        recall_score(y_test, y_pred6),
        recall_score(y_test, y_pred7)
    ],
    'F1 Score': [
        f1_score(y_test, y_pred1),
        f1_score(y_test, y_pred2),
        f1_score(y_test, y_pred3),
        f1_score(y_test, y_pred4),
        f1_score(y_test, y_pred5),
        f1_score(y_test, y_pred6),
        f1_score(y_test, y_pred7)
    ]
}


results_df = pd.DataFrame(results)


results_df = results_df.sort_values(by='Accuracy', ascending=False)


print(results_df)

                  Model  Accuracy  Precision    Recall  F1 Score
2       SVM (LinearSVC)  0.875975   0.876170  0.872610  0.874386
5           Extra Trees  0.868763   0.885793  0.843451  0.864104
1   Logistic Regression  0.866635   0.853868  0.881214  0.867325
3         Random Forest  0.849610   0.862369  0.828155  0.844916
0           Naive Bayes  0.848309   0.862897  0.824331  0.843173
6  HistGradientBoosting  0.839560   0.827730  0.853250  0.840297
4                   KNN  0.616221   0.874003  0.261950  0.403089

In [96]:
import joblib
# Save the trained TF-IDF vectorizer to a file
# This allows you to reuse the same vectorizer during prediction/inference time
joblib.dump(vectorizer, 'tfidf_vectorizer_reviews.pkl')
# Save the trained machine learning model (Extra Trees in this case) to a file
# You can later load this model for predictions without retraining
joblib.dump(model3, 'reviews_fake_detection_model.pkl')

['reviews_fake_detection_model.pkl']

In [97]:
def predict_spam(text):
    cleaned_text = clean_text(text)  
    vectorized_text = vectorizer.transform([cleaned_text])
    prediction = model3.predict(vectorized_text)
    return "OR" if prediction == 1 else "CG"

In [ ]:
review = input("Enter a review: ")
print("Prediction:", predict_spam(review))